:root{
    --bg-color: rgba(117, 116, 116, 0.863);
}

html{
    font-family: "Play", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(1, 1, 32);
}

.container{
    background-color: var(--bg-color);
    max-width: 900px;
    display: grid;
    padding: 30px ;
    gap: 20px;
    grid-template-areas:"video-destaque propaganda"
                        "video-destaque side-video";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
    border-radius: 10px;
}

.video-destaque{
    grid-area: video-destaque;
    border: 2px solid aqua;
}



.video-destaque iframe{
    width: 100%;
    height: 217px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.video-destaque .titulo{
    font-size: 18px;
    margin-bottom: 7px;
}

.video-destaque .visualizacoes{
    font-size: 14px;
    margin-bottom: 7px;
}

.propaganda{
    grid-area: propaganda;
    border: 2px solid aqua;
}


.side-video{
    grid-area: side-video ;
    border: 2px solid aqua;
}
.side-video .video{
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.side-video .video h2{
    font-size: 14px;
    margin-bottom: 5px;
}

.side-video .video p{
    font-size: 11px;
    margin-bottom: 5px;
}