:root{
    --cor-1: rgb(70, 70, 71);
    --cor-2: rgb(95, 95, 95);
    --bg-color:rgb(5, 4, 46);
    --bg-color-2:rgb(18, 18, 19);
}

body{
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--bg-color-2);
    justify-content: center;
    overflow: hidden;
}

.container{
    display: flex;
    width: 100vw;
}

.btn{
    padding: 0.5rem;
    background: var(--cor-1);
    border-radius: 10%;
    color: white;
    top: 1rem;
    left: 1rem;
    position: absolute;
    width:auto;
    text-align: center;
    cursor: pointer;
    transition: left 0.4s ease;
}

.btn.click{
    left: 15rem;
}

.nav{
    display: none;
}

.nav.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(10px);

}

.nav.show {
    transform: translateX(0);
}

.nav.show .titulo{
    font-size: 2rem;
    font-family: "Play", sans-serif;
    color: white;
    font-weight: 700;
}

.nav.show .lista-projetos{
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    font-family: "Play",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.nav.show .lista-projetos li a{
    line-height: 2.5rem;
    border-bottom: 0.1rem solid var(--cor-2);
    border-left: 0.2rem solid transparent;    
}

.nav.show a{
    color: white;
    font-size: 1rem;

    display: block;
    width: 100%;
    
}

.nav.show a:hover{
    color: aqua;
    
}

.nav.show ul li.active a{
    color: aqua   ;
    background: var(--cor-1);
    border-left-color: aqua;
}

iframe{
    display: block;
    width:100%;
    border: none;
}


@media screen and (min-width: 1024px) {

    .btn {
        display: none;
        background: none;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        color: white;
    }
    
    .nav{
        display: block;
        min-width: 17rem;
        height: 100%;
        background: var(--bg-color-2) ;
        border-right: 0.8rem;
        
    }
    
    .nav .titulo{
        color: white;
        font-family: "Play", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        line-height: 4rem;
        text-align: center;
    }
    
    .nav .lista-projetos{
        height: 100%;
        width: 100%;
        font-size: 1.2rem;
        font-family: "Play",sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .nav .lista-projetos li a{
        line-height: 2.5rem;
        border-bottom: 0.1rem solid var(--cor-2);
        border-left: 0.2rem solid transparent;    
    }
    
    .nav a{
        color: white;
        font-size: 1rem;
        display: block;
        width: 100%;
        padding-left: 1rem;  
    }

    .nav a:hover{
        color: aqua;
        
    }
    
    .nav ul li.active a{
        color: aqua   ;
        background: var(--cor-1);
        border-left-color: aqua;
    }
    
    iframe{
        display: block;
        width:100%;
        border: none;
        margin: 1rem;
        border: 0.3rem solid aqua;
    }
    
}
